<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome!</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<title>
			{% block title %}Booktopia
			{% endblock %}
		</title>
		{# <link rel="stylesheet" id="storefront-style-css" href="/css/themes/storefront/style.css" type="text/css"/> #}
		{# <link rel="stylesheet" id="storefront-woocommerce-style-css" href="/css/themes/storefront/assets/css/woocommerce/woocommerce.css" type="text/css"/> #}
		{# <link rel="stylesheet" id="storefront-icons-css" href="/css/themes/storefront/assets/css/base/icons.css" type="text/css"/> #}

			{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}"> {{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper"> {% block body %}{% endblock %}
				{# // <script type="text/javascript" src="/js/themes/storefront/assets/js/navigation.min.js"></script> #}
				{# // <script type="text/javascript" src="/js/jquery-3.6.3.min.js"></script> #}
				{% block javascripts %}
					{% block importmap %}
						{{ importmap('app') }}
					{% endblock %}
					{{ encore_entry_script_tags('app') }}

					{# // <script type="module" src="{{ asset('@symfony/stimulus-bundle/loader.js') }}"></script> #}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
