<section{{attributes}} class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
	{% for product in products %}
		<article class="h-full">
			<a href="/product/{{ product.id }}" class="block space-y-3 p-4 rounded-base hover:bg-secondary h-full">
				<div class="h-60 w-full flex justify-center items-center overflow-hidden rounded-base">
					<img src="{{ product.image }}" alt="image product" class="w-full rounded-base">
				</div>
				<main>
					<h2 class="text-primary text-base line-clamp-3">{{ product.titre }}</h2>
					<div class="text-secondary text-sm">{{ product.auteur }}</div>
					<div class="text-secondary text-sm">{{ product.prix }}€</div>
				</main>
			</a>
		</article>
	{% endfor %}
</section>
